<launch>
  <node pkg="orbslam3_ros" type="mono_sonar" name="orbslam3_mono_sonar" output="screen">
    <param name="voc_file" value="$(find orbslam3_ros)/Vocabulary/ORBvoc.txt"/>
    <param name="settings_file" value="$(find orbslam3_ros)/Examples_old/ROS/ORB_SLAM3/mono_sonar.yaml"/>
    <remap from="/camera/image_raw" to="/your/camera/topic"/>
    <remap from="/sonar/range" to="/your/sonar/topic"/>
  </node>
</launch>
